{
  "parser": "@babel/eslint-parser",
  "extends": "eslint:recommended",
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "requireConfigFile": false
  },
  "overrides": [{
    "files": ["src/**.js"],
    "rules": {
      "no-console": "off",
      "no-undef": "off"
    }
  }]
}
