name: CI
on:
  pull_request:
jobs:
  E2E:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup
      run: sudo chown -R runner /usr/local/lib/node_modules && npm install && npm run setup
    - name: Tests
      run: npm run e2e-tests -- --disable-live-reporting
    - name: Live Reporting
      run: npm run e2e-tests -- --display-debug-logs
    - name: Retry mechanism
      run: npm run e2e-retry-tests
    
    

