name: CI
on:
  pull_request:
jobs:
  Unit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setting up new build of the reporter
      run: sudo chown -R runner /usr/local/lib/node_modules && npm install && npm run lint && npm run jshint && npm run build-local-reporter
    - name: Running the "Live reporting" tests
      run: npm run e2e-tests
    - name: Running the "No live reporting" tests
      run: npm run e2e-no-live-reporting-tests
    - name: Running the "Retry mechanism" tests
      run: npm run e2e-retry-tests
    - name: Running the "Display debug logs" tests
      run: npm run e2e-display-debug-logs-tests
  Integration:
    runs-on: ubuntu-latest
    steps:
      - uses: docker-practice/actions-setup-docker@master
        with:
          docker_channel: nightly
          docker_nightly_version: snapshot-20200915
      - uses: actions/checkout@v2
      - name: Granting node_modules folder required permissions
        run: sudo chown -R runner /usr/local/lib/node_modules
      - name: Installing dependencies
        run: npm install
      - name: Running linting
        run: npm run lint
      - name: Running static code analysis
        run: npm run jshint
      - name: Setting a Report Portal local reporter
        run: npm run build-local-reporter
      - name: Downloading docker compose file
        run: npm run download-report-portal-latest-docker-compose-file
      - name: Setting up a local Report Portal environment
        run: npm run up
      - name: Creating a .env file from existing example
        run: cp .env.integration-tests .env
      - name: Running integration tests
        run: npm run integration-tests
      - name: Tearing down services
        run: npm run down
      
