name: CI
on:
  pull_request:
jobs:
  E2E:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '10'
    - name: Setup
      run: sudo chown -R runner /usr/local/lib/node_modules && npm install
    - name: Live Reporting Tests
      run: npm run setup && npm run live-tests
    - name: Tests
      run: npm run setup && npm run tests
