name: CI
on:
  pull_request:
jobs:
  E2E:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup
      run: sudo chown -R runner /usr/local/lib/node_modules && npm install && npm run setup && cat /usr/local/lib/node_modules/testcafe-reporter-reportportal-plugin/lib/index.js
    - name: Live reporting
      run: cat /usr/local/lib/node_modules/testcafe-reporter-reportportal-plugin/lib/index.js && npm run e2e-tests
    - name: No live reporting
      run: npom run e2e-no-live-reporting-tests
    - name: Retry mechanism
      run: npm run e2e-retry-tests
    - name: Display debug logs
      run: npm run e2e-display-debug-logs-tests
