name: CI
on:
  pull_request:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup
      run: sudo chown -R runner /usr/local/lib/node_modules && npm install && npm run setup
    - name: Tests
      run: npm run tests
