name: CI
on:
  workflow_dispatch:
  pull_request:
jobs:
  Unit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Granting node_modules folder required permissions
      run: sudo chown -R runner /usr/local/lib/node_modules
    - name: Installing dependencies
      run: npm install
    - name: Running linting
      run: npm run lint
    - name: Running static code analysis
      run: npm run jshint
    - name: Setting a Report Portal local reporter
      run: npm run build && npm run link-pkg
    - name: Running the "Live reporting" tests
      run: npm run unit-tests
    - name: Running the "No live reporting" tests
      run: npm run unit-no-live-reporting-tests
    - name: Running the "Retry mechanism" tests
      run: npm run unit-retry-tests
    - name: Running the "Display debug logs" tests
      run: npm run unit-display-debug-logs-tests
  Integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Granting node_modules folder required permissions
        run: sudo chown -R runner /usr/local/lib/node_modules
      - name: Installing dependencies
        run: npm install
      - name: Running linting
        run: npm run lint
      - name: Running static code analysis
        run: npm run jshint
      - name: Setting a Report Portal local reporter
        run: npm run build && npm run link-pkg
      - name: Downloading docker compose file
        run: npm run download-report-portal-docker-compose-file
      - name: Docker version
        run: docker -v
      - name: Setting up a local Report Portal environment
        run: npm run up #sudo docker compose -f docker-compose.yml -p reportportal up -d --force-recreate
      - name: Waiting for services to be up
        run: ./scripts/healthcheck.bash
      - name: Report Portal server status
        run: npm run status
      - name: Creating a .env file from existing example
        run: cp .env.integration-tests.example .env
      - name: Running integration tests
        run: npm run integration-tests
      - name: Tearing down services
        run: npm run down
