name: Deploy Bot
on:
  push: 
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Installing NPM dependencies
      run: sudo chown -R runner /usr/local/lib/node_modules && npm install
    - name: Setting up new build of the reporter
      run: npm run build && npm run link-pkg
    - name: Deploying version
      uses: danitseitlin/package-deployer@master
      with:
        pkg_name: testcafe-reporter-reportportal-plugin
        npm_access_token: ${{secrets.NPM_AUTH_TOKEN}}
        github_access_token: ${{secrets.G_AUTH_TOKEN}}
